# Ignore all files in .gitignore dir
/*

# Exceptions

#In dir
!.gitignore
!servers.dat
!config/

!mods/
mods/ignore_*

!resourcepacks/
resourcepacks/ignore_*

#Journeymap
!journeymap/
journeymap/*
!journeymap/config/
!journeymap/config/*

#Figura
!figura/
figura/*
!figura/cache/
figura/cache/*
!figura/cache/permissions.nbt
!figura/cache/settings.nbt