# Ignore all files in .gitignore dir
/*

# Exceptions

#In dir
!.gitignore
!servers.dat

!config/
config/*
!config/jade
!config/presencefootsteps
!config/sounds
!config/ambientsounds-client.json
!config/figura.json
!config/railways-client.json
!config/SeasonHUD-client.toml
!config/supplementaries-client.json
!config/mapfrontiers-client.toml
!config/create-client.toml

!mods/
#prefix a mod with ignore_ to exclude
mods/ignore_*

!resourcepacks/
#prefix a resourcepack with ignore_ to exclude
resourcepacks/ignore_* 

!journeymap/
journeymap/*
!journeymap/config/
!journeymap/config/*

!figura/
figura/*
!figura/cache/
figura/cache/*
!figura/cache/permissions.nbt
!figura/cache/settings.nbt